@import "tailwindcss";

@font-face {
    font-family: 'Tagesschrift';
    src: url('/font/Tagesschrift/Tagesschrift-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Tagesschrift', sans-serif;
}
